<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>InserisciPersonaController</servlet-name>
  	<display-name>InserisciPersonaController</display-name>
  	<description></description>
  	<servlet-class>web.InserisciPersonaController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>web.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogOutController</servlet-name>
  	<display-name>LogOutController</display-name>
  	<description></description>
  	<servlet-class>web.LogOutController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DammiMarche</servlet-name>
  	<display-name>DammiMarche</display-name>
  	<description></description>
  	<servlet-class>web.DammiMarche</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DammiModelliController</servlet-name>
  	<display-name>DammiModelliController</display-name>
  	<description></description>
  	<servlet-class>web.DammiModelliController</servlet-class>
  </servlet>
<servlet>
  	<servlet-name>InserisciAnnuncioController</servlet-name>
  	<display-name>InserisciAnnuncioController</display-name>
  	<description></description>
  	<servlet-class>web.InserisciAnnuncioController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CercaAutoController</servlet-name>
  	<display-name>CercaAutoController</display-name>
  	<description></description>
  	<servlet-class>web.CercaAutoController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CaricaVeicoloController</servlet-name>
  	<display-name>CaricaVeicoloController</display-name>
  	<description></description>
  	<servlet-class>web.CaricaVeicoloController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InserisciRecensioneController</servlet-name>
  	<display-name>InserisciRecensioneController</display-name>
  	<description></description>
  	<servlet-class>web.InserisciRecensioneController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InserisciastaController</servlet-name>
  	<display-name>InserisciastaController</display-name>
  	<description></description>
  	<servlet-class>web.InserisciastaController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>indexAstaController</servlet-name>
  	<display-name>indexAstaController</display-name>
  	<description></description>
  	<servlet-class>web.indexAstaController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CaricaAstaController</servlet-name>
  	<display-name>CaricaAstaController</display-name>
  	<description></description>
  	<servlet-class>web.CaricaAstaController</servlet-class>
  </servlet>
 
 
 
  <servlet>
  	<servlet-name>InserisciPuntataController</servlet-name>
  	<display-name>InserisciPuntataController</display-name>
  	<description></description>
  	<servlet-class>web.InserisciPuntataController</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>CaricaPuntata</servlet-name>
  	<display-name>CaricaPuntata</display-name>
  	<description></description>
  	<servlet-class>web.CaricaPuntata</servlet-class>
  </servlet>

  
  <servlet-mapping>
  	<servlet-name>indexAstaController</servlet-name>
  	<url-pattern></url-pattern>
  </servlet-mapping>
  
  
  
  <servlet-mapping>
  	<servlet-name>InserisciPersonaController</servlet-name>
  	<url-pattern>/InserisciPersonaController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogOutController</servlet-name>
  	<url-pattern>/LogOutController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DammiMarche</servlet-name>
  	<url-pattern>/DammiMarche</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DammiModelliController</servlet-name>
  	<url-pattern>/DammiModelliController</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
  	<servlet-name>InserisciAnnuncioController</servlet-name>
  	<url-pattern>/InserisciAnnuncioController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CercaAutoController</servlet-name>
  	<url-pattern>/CercaAutoController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CaricaVeicoloController</servlet-name>
  	<url-pattern>/CaricaVeicoloController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InserisciRecensioneController</servlet-name>
  	<url-pattern>/InserisciRecensioneController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InserisciastaController</servlet-name>
  	<url-pattern>/InserisciastaController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>indexAstaController</servlet-name>
  	<url-pattern>/indexAstaController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CaricaAstaController</servlet-name>
  	<url-pattern>/CaricaAstaController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InserisciPuntataController</servlet-name>
  	<url-pattern>/InserisciPuntataController</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
  	<servlet-name>CaricaPuntata</servlet-name>
  	<url-pattern>/CaricaPuntata</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>
